*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(
      45deg,
      #000309 17.6%,
      rgba(1, 43, 90, 0.902) 48.6%,
      rgba(1, 148, 254, 0.53) 72%,
      rgba(4, 34, 107, 0.5) 83.3%
    );
    background-color: #000618;
    color: aliceblue;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
  }
  
.container-superior {
   display: flex;
   flex-direction: row;
}
  
.container-superior .titulo {
    font-size: 32px;
    font-weight: bold;
}
  
.container-superior .texto-pequeno {
    color: #07ead3;
    font-size: 20px;
    font-weight: light;
}

main {
    display: flex;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.planilha {
    padding-left: 80px;
    width: 20%;
}

.planilha .titulo {
    margin-bottom: 30px;
}

.planilha .titulo h1 {
    font-size: 32px;
    font-style: bold;
}

.planilha .titulo p {
    font-size: 16px;
    color: #07EAD3;
    font-style: light;
}

.planilha .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.rentabilidade {
    background-color: rgb(40, 67, 151, 13%);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin-right: 20px;
}

.rentabilidade h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.rentabilidade .total {
    margin-bottom: 20px;
}

.rentabilidade h3 {
    font-size: 14px;
    font-style: bold;
}

.rentabilidade p {
    font-size: 24px;
    font-style: bold;
    color: #07EAD3;
}

.rentabilidade strong {
    font-size: 32px;
    font-style: bold;
    color: #ffffff;
}

.rentabilidade .linha {
    height: 1px;
    background-color: rgba(1, 148, 254, 25%);
}

.rentabilidade .table {
    padding: 10px;
    border-collapse: collapse;
    font-size: 16px;
    font-style: bold;
    margin: 20px 0;
    text-align: left;

}

.rentabilidade th {
    color: #07EAD3;
    font-size: 12px;
    font-style: bold;
}

.rentabilidade td {
    padding-top: 10px;
    padding-right: 110px;

}

.chart {
    padding-left: 80px;
    width: 80%;
}

.grafico {
    padding: 20px;
    border-radius: 8px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grafico h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.chart-image {
    height: 400px;
    flex-grow: 1;
}

.filtro {
    display: flex;
    justify-content: flex-end;
    color: #07ead3;   
    
}

.filtro label {
    width: 198px;
    height: 54px;
    margin-right: 10px;
    stroke: rgba(1, 148, 254, 51%);
    border-radius: 14%;
}