body {
  background: linear-gradient(
    45deg,
    #000309 17.6%,
    rgba(1, 43, 90, 0.902) 48.6%,
    rgba(1, 148, 254, 0.53) 72%,
    rgba(4, 34, 107, 0.5) 83.3%
  );
  background-color: #000618;
  color: aliceblue;
  background-image: url('./image/imagemCriptoHome.png');
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
}

.textContainer {
  flex-direction: column;
  justify-content: center;
  margin-top: 150px;
  margin-left: 30px;
}

.h1AzulBold {
  color: #07EAD3;
  font-weight: bold;
}

.tituloHome {
  max-width: 50%;
  text-align: left;
  font-weight: 100;
}

button {
  background-color: #27DBBB;
  color: #03121C;
  border-radius: 5px;
  border-style: none;
  padding: 10px;
  position: static;
  margin-top: 30px;

}

.imagemCriptoHome {
  position: relative;

}

.nossasMoedas {
  color: #020D15;
  background-color: #E6EAED;
  border-radius: 15px;
  padding: 30px 48px 30px 48px;
  margin: 100px 70px 70px 100px;
  display: flex;
  align-items: center;

}

.imgMoedas {
  padding: 60px;

}