body {
  font-family: "DM Sans", sans-serif;
  background: linear-gradient(
    45deg,
    #000309 17.6%,
    rgba(1, 43, 90, 0.902) 48.6%,
    rgba(1, 148, 254, 0.53) 72%,
    rgba(4, 34, 107, 0.5) 83.3%
  );
  background-color: #000618;
  color: aliceblue;
}

.container-login {
  height: 60vh;
  margin-top: 100px;
  margin-bottom: 100px;
}

fieldset {
  border: none;
  margin: 0 auto;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px; /* Ajustar o espaçamento para corresponder ao código 1 */
  background-color: #111111;
  border: 1px solid rgba(1, 148, 254, 0.51);
  border-radius: 14px;
  padding: 30px 30px;
  box-sizing: border-box;
  opacity: 0.7;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px; /* Ajustar o espaçamento para corresponder ao código 1 */
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0;
}

form h1 {
  font-size: 30px; /* Aumentar o tamanho da fonte */
  margin-bottom: 15px; /* Ajustar o espaçamento para corresponder ao código 1 */
  text-align: left; /* Alinhamento à esquerda */
  color: aliceblue;
}

form label {
  align-self: flex-start;
  font-size: 14px;
  margin-bottom: 5px;
  color: aliceblue;
  margin-left: 10px; /* Justificar alinhamento */
}

form input[type="text"],
form input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px; /* Ajustar o espaçamento para corresponder ao código 1 */
  border: 1px solid rgba(1, 148, 254, 0.51);
  border-radius: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  color: white;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

form a {
  display: block;
  text-align: right;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
}

form button {
  background-color: #27dbbb;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 14px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

form button:hover {
  opacity: 0.8;
  color: black;
}

@media (max-width: 768px) {
  form {
    padding: 0;
  }

  form input[type="text"],
  form input[type="password"] {
    width: 100%;
    padding: 8px;
  }

  form button {
    padding: 8px;
  }
}
