/* styles.css */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

header nav ul .logo {
  height: 40px;
}

header nav ul input[type="text"] {
  margin-left: auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

header nav ul div {
  display: flex;
  align-items: center;
}

header nav ul div li {
  margin: 0;
}

header nav ul div img {
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  /* text-align: center; */
}

form label {
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="email"],
form input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

form a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
  margin-bottom: 10px;
  text-align: center;
}

form a:hover {
  text-decoration: underline;
}

form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer div {
  margin-bottom: 20px;
}

footer p {
  margin: 5px 0;
}

footer nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer nav ul li {
  margin: 0 10px;
}

footer nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

footer nav ul .logo {
  height: 40px;
}
